<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>i.socdm.com</string>
	<string>d.socdm.com</string>
	<string>spad.i-mobile.co.jp</string>
	<string>vsc.send.microad.jp</string>
	<string>ssp-bidder.i-mobile.co.jp</string>
	<string>spdeliver.i-mobile.co.jp</string>
	<string>adf.send.microad.jp</string>
	<string>spnet2-1.i-mobile.co.jp</string>
	<string>adc.medibaad.com</string>
	<string>bid.g.doubleclick.net</string>
	<string>js.kau.li</string>
	<string>ssp.advg.jp</string>
	<string>spcdnpc.i-mobile.co.jp</string>
	<string>55978.y.kau.li</string>
	<string>55979.y.kau.li</string>
	<string>54173.y.kau.li</string>
	<string>ad.maist.jp</string>
	<string>ad.kau.li</string>
	<string>spnet33.i-mobile.co.jp</string>
	<string>bn.maist.jp</string>
	<string>xid.i-mobile.co.jp</string>
</array>
</plist>
